@import "../../shared/shred.scss";
.attr {
  &__name {
    text-transform: uppercase;
    @include fontStyle(1.8rem, 700);
    margin: 1rem 0;
  }
}

.btn {
  @extend %btn;
  &:not(:last-child) {
    margin-right: 0.3rem;
  }
}
.btnIndetail {
  @extend %btn;
  width: 6.3rem;
  height: 4.5rem;
  @include fontStyle(1.6rem, 400);
  &:not(:last-child) {
    margin-right: 1rem;
  }
}
