$primary: #1d1f22;
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin fontStyle($fz: 1.8rem, $fw: 400) {
  font-size: $fz;
  font-weight: $fw;
}
@mixin flex($dir: row, $jc: flex-start, $ai: flex-start) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}
