.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.list {
  display: flex;
  list-style: none;
  &__item {
    font-size: 2rem;
    text-transform: capitalize;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.actions {
  display: flex;
}
