@import "../../shared/shred.scss";
.currency {
  @include flex(column, space-between, center);
  list-style: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 1vw;
  box-shadow: 0 0 1rem rgba(#1d1f22, 0.1);
  width: 10rem;
  margin-top: 2rem;
  padding: 1rem 0;
  transition: opacity 0.3s;
  &__item {
    @extend %flex;
    @include fontStyle(1.8rem, var(--medium));

    color: var(--primary);
    width: 100%;
    &:hover {
      cursor: pointer;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}
.chosen {
  @include fontStyle(1.8rem, var(--medium));
  margin-right: 5px;
}
.container {
  @extend %flex;
  margin-right: 1rem;
}
.icon {
  width: 3rem;
  @extend %flex;
  svg {
    width: 1.8rem;
  }
  &:hover {
    cursor: pointer;
  }
}
